<mat-grid-list [cols]="18">
  <mat-grid-tile [colspan]="2">Kick</mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-card>
      card
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
